name: Build, Scan with Trivy, & Publish (GHCR)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/faozy20/labo5   # tout en minuscules
  LOCAL_TAG: labo5:ci-scan            # tag temporaire pour le scan

jobs:
  build-scan-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha

      # Étape 1 - Build de l’image localement pour scan
      - name: Build image for scan
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: ${{ env.LOCAL_TAG }}
          load: true
          platforms: linux/amd64

      # Étape 2 - Scan Trivy (avant publication)
      - name: Trivy scan (HIGH/CRITICAL)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: ${{ env.LOCAL_TAG }}
          format: table
          vuln-type: os,library
          ignore-unfixed: true
          severity: HIGH,CRITICAL
          exit-code: '1'  # échoue le job si vulnérabilités HIGH/CRITICAL